

<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <div class="chartWrapper">
      <div class="chartAreaWrapper">
        <div *ngFor="let labels of arrayOfLabels; let i = index">
          <canvas baseChart #myChart height="35" width="100" [datasets]="arrayOfData[i]" [labels]="labels"
            [chartType]="chartType">
          </canvas>
        </div>
    
      </div>
    </div>
  

    <div style="display: block">
      <!-- <canvas mdbChart
          [chartType]="chartType"
          [datasets]="chartDatasets" 
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="true"
          (chartHover)="chartHovered($event)" 
          (chartClick)="chartClicked($event)">
      </canvas> -->

<!-- 
      <div style="display: block">
        <canvas baseChart #myChart
                [chartType]="chartType"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>  -->

      <!-- Testing Excel -->

     </div>
                              
  
  <!-- 

    baseChart -- ng2-Charts

    Convas is a component 

    @Input chartType - what kind of charts 
    @Input datasets - y axis data (multiple sets)
    @Input labels - x axis
    @Input Color - background//border colors for my chart
    @Input Options

    @Output chartHover
    @Output chartClick
   -->
  </div>

  <style>
.chartWrapper {
  position: relative;
    overflow-x: scroll;
  overflow-y: scroll;
  /* overflow-x: scroll; */
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 100%;
}

.chartAreaWrapper {
  width: 2500px;
  height: 100px;
}

  </style>