

<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <div style="display: block">
      <!-- <canvas mdbChart
          [chartType]="chartType"
          [datasets]="chartDatasets" 
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="true"
          (chartHover)="chartHovered($event)" 
          (chartClick)="chartClicked($event)">
      </canvas> -->

      <canvas baseChart #myChart height="500" width="100"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [options]="chartOptions"
      [chartType]="chartType"
      (chartClick)="chartClicked($event)">
      </canvas>
     </div>
                              
  
  <!-- 

    baseChart -- ng2-Charts

    Convas is a component 

    @Input chartType - what kind of charts 
    @Input datasets - y axis data (multiple sets)
    @Input labels - x axis
    @Input Color - background//border colors for my chart
    @Input Options

    @Output chartHover
    @Output chartClick
   -->
  </div>