<div class="container">
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-7">
      <mat-card>
        <mat-card-header>
          <div mat-card class="example-header-image"></div>
          <mat-card-title>Strategic Outlook</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-md-3">
                <div class="wrapper">
                    <div class="outerMatCard"></div>
                    <mat-icon style="padding-top: 30px;">signal_cellular_alt</mat-icon>
                    <div class="innerMatCard">Brand Management</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrapper">
                    <div class="outerMatCard"></div>
                    <mat-icon style="padding-top: 30px;">signal_cellular_alt</mat-icon>
                    <div class="innerMatCard">Compaign Management</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrapper">
                    <div class="outerMatCard"></div>
                    <mat-icon style="padding-top: 30px;">signal_cellular_alt</mat-icon>
                    <div class="innerMatCard">Communication Management</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrapper">
                    <div class="outerMatCard"></div>
                    <mat-icon style="padding-top: 30px;">signal_cellular_alt</mat-icon>
                    <div class="innerMatCard">Innovation Management</div>
                </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<style>
  .innerMatCard {
    position: relative;
    margin-left: 26px;
    margin-top: -31px;
  }

  .outerMatCard {
    display: inline-block;
    border: 12px solid #ffc107d6;
    height: 90px;
    position: absolute;
  }

  .wrapper {
    border: solid 1px;
    height: 92px;
    width: 135px;
  }
</style>
